{% extends "base_template.html" %}
{% load static %}
{% block title %}
  Django
  Projects
{% endblock title %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                </li>
                {% for nav in project_list %}
                    <li class="nav-item">
                        <a class="nav-link" href="#{{nav.heading.split.0}}">{{ nav.heading.split.0 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block content %}
    <div class="text-light main-head" id="home">
        <h1 class="display-3">Umair Ahmad</h1>
        <p>graphic designer / web developer</p>
        <h1 class="display-5">My backend projects.</h1>
        <p>Here are some apps created with the python django framework.</p>
    </div>

    {% for head in project_list %}
    <div id="{{head.heading.split.0}}" class="project-container text-light">
        <div class="row m-1">
            <div class="col-lg m-4 text-center">
                <h1>{{ head.heading }}</h1>
                <h3 class="text-info">
                    <i class="{{head.icon}}" aria-hidden="true"></i>
                    {{ head.subHeading }}
                </h3>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-md col-lg-6 p-4">
                <iframe
                class="vid"
                src="{{head.videoLink}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="col-md col-lg-6 p-4">
                <h4>Features:</h4>
                <ol>
                    {% for fe in head.features_set.all %}
                        <li>
                            {{ fe }}
                            <ol type="A">
                                {% for subfe in fe.subfeatures_set.all %}<li>{{ subfe }}</li>{% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                    </ol>
                <a class="btn btn-primary" href="{{head.btnApp}}">Go to app</a>
                <a class="btn btn-info" href="{{head.btnCode}}" target="__blank">Go to code</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
{% block footer %}
<footer class="bg-dark text-light">
    <div class="container">
        <div class="row p-4">
          <div class="col-sm">
            <h3>Stay in touch</h3>
            <h1 class="pl-2"><i class="fa fa-arrow-down" aria-hidden="true"></i></h1>
            <p>Queens, NYC, USA</p>
            <h3 class="pl-5"><i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
            <a href="mailto:umairny1@gmail.com" class="nav-link text-light">umairny1@gmail.com</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-info" href="https://twitter.com/UmairAh04797202"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="https://www.linkedin.com/in/umairny/"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="https://www.youtube.com/@umair4ahmad"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
          </div>
          <div class="col-sm">
                <h3>about me</h3
                <p>I'm a graphic designer and web developer based in NYC, USA.</p>
                <p>
                    Since 2019, I've enjoyed turning complex problems into simple,
                    beautiful and intuitive designs.
                    I’ve been designing graphics for about 18 years now.
                    Started when I was 21, and I quickly found passion for the work,
                </p>
          </div>
          <div class="col-sm">
            <p>
                and spent almost my entire free time working on projects.
                Now, I am looking for a job in a webdesign studio, or in a well-established IT company.
                In order to further develop my designing skills and work on major projects.
                I work mostly with Adobe, but I am eager to learn working with other software programs.
            </p>
          </div>
        </div>
    </div>
</footer>
{% endblock footer %}
