{% extends "base_template.html" %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                </li>
                {% for nav in project_list %}
                    <li class="nav-item">
                        <a class="nav-link" href="#{{nav.heading.split.0}}">{{ nav.heading.split.0 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block content %}
    <div class="text-light main-head" id="home">
        <h1 class="display-4">{{ context.list.heading }} Django Projects</h1>
        <p class="lead">Here are some apps created with the django framework.</p>
    </div>

    {% for head in project_list %}
    <div id="{{head.heading.split.0}}" class="project-container text-light">
        <div class="row m-1">
            <div class="col-lg m-4 text-center">
                <h1>{{ head.heading }}</h1>
                <h3 class="text-info">
                    <i class="{{head.icon}}" aria-hidden="true"></i>
                    {{ head.subHeading }}
                </h3>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-md col-lg-6 p-4">
                <iframe
                class="vid"
                src="{{head.videoLink}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="col-md col-lg-6 p-4">
                <h4>Features:</h4>
                <ol>
                    {% for fe in head.features_set.all %}
                        <li>
                            {{ fe }}
                            <ol type="A">
                                {% for subfe in fe.subfeatures_set.all %}<li>{{ subfe }}</li>{% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                    </ol>
                <a class="btn btn-primary" href="{{head.btnApp}}">Go to app</a>
                <a class="btn btn-info" href="{{head.btnCode}}">Go to code</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
