html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.mac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}
.fixed-btn-circ{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #6b7586;
  border-radius: 25px;
  background-color: aliceblue;
}
.home-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.go-home{
  position: absolute;
  top: 55px;
  left: 0;
  text-shadow: #efefef 0px 0px 3px;
}
.main-head {
  color: #efefef;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-head h1 {
  color: aqua;
}
.main-head p {
  color: blanchedalmond;
}
ol{
  padding-left: 1em;
  text-indent: 0.5em;
}

/* Projects settings */
.vid {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.project-container{
  padding-top: 10%;
}
.project-container li {
  padding-right: .6em;
  margin: 0.2em 0;
}

/* main page animation*/
.area {
  width: 100%;
  height: 100vh;
  z-index: -100;
  background-color: #e1e0e6;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -90;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    border-radius: 0;
  }
}


/* footer styles */
